body{
    background-color:rgb(168, 210, 235);
    
}
.jumbotron{
    background-color: rgb(33, 68, 139);
    color: white;
}

.container{
     width: 100%;
     margin: auto;
     padding: 1em;
}

.h3{
    margin-bottom: 2em;
}
.card{
    margin: auto;
    width: 10rem; 
    color:white;
    background-color: rgba(24, 90, 151, 0.863)
    
}